.my_logo::before{
    /*给伪元素添加的类 由于每个的大小位置都是不同的*/
    height: 21px;
    width: 56px;
    background-position: 0 -109px;
}
.my_search::before{
    width: 20px;
    height: 20px;
    background-position: -60px -110px;
    left: 10px;
}
.my_time::before{
    width: 17px;
    height: 22px;
    background-position: -84px -109px;
    left: 10px;
}
/*头部开始*/
.jd_header{
    height: 40px;
    overflow: hidden;  /*外边距塌陷*/
    position: fixed; /*固定定位是要给宽度的？？*/
    width: 100%;
    z-index: 999;/*会被层叠所以应层级*/
    min-width: 320px;
    max-width: 640px;
    /*top: 50%; 水平居中就可以*/
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(209,68,50,0);
}
.jd_header .left{
    height: 40px;
    width: 75px;
    position: relative;
}
.jd_header .right{
    height: 40px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.jd_header .center{
    height: 30px;
    margin: 4px 50px 0px 75px;
    position: relative;
}
.jd_header .center input[type='search']{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    text-indent: 28px;
    background-color: #fff;
}
/*头部结束*/
/*焦点图*/
.course {
    position: relative;
    overflow: hidden;
}
.course .jd_course{
    position: relative;
}
.course .jd_course li{
    position:  absolute;
    width: 100%;
    top: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.course .jd_dot{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
.course .jd_dot li{
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #000;
    border-radius: 50%;
}
.course .jd_dot .active{
   border: 1px solid red;
}
.jd_nav{
    padding-top: 10px;
    background-color: #F3F3F3;
}

.jd_nav li img{
    width: 40px;
    height: 40px;
    margin: 0 auto; /*可以使用居中*/
}
.jd_nav li p{
    line-height: 30px;
    text-align: center;
}
/*京东快报*/
.jd_new{
    background-color: #F3F3F3;
    padding: 0 7px 5px;

}
.jd_new .new{/*高度写死，宽度不用管*/
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
}
.jd_new .left{
    width: 81px;
    height: 30px;
}
.jd_new .left img{
    width: 73px;
    height: 16px;
    margin-top: 7px;
    margin-left: 7px;
}
.jd_new .center{
    height: 30px;
    margin-left: 81px;
    margin-right: 40px;
    position: relative;
    overflow: hidden;
}
.jd_new .lunbo li{
    height: 30px;
    line-height: 30px;
    text-indent: 5px; /*相当于padding-left*/
}
.jd_new .center .lunbo{
    position: absolute;  /*为了实现动画*/
    width: 100%;  /*有宽度才会有那个省略号*/
    left: 0;
    top: 0;
    height: 30px;
}
.jd_new .right{
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    /*padding-right: 8px;*/
    text-indent: -18px;
}
/*京东秒杀*/
.jd_ms{
    background-color: #fff;
}
.jd_ms .ms_content{
    height: 32px;
    line-height: 32px;
    position: relative;
}
.jd_ms .txt{
    color: red;
    font-size: 14px;
    letter-spacing: 5px;
    /*text-indent: 34px;行内元素不可以使用*/
    padding-left: 36px;
}
.jd_ms .ms_t .time{
    width: 90px;
    height: 22px;
    left: 120px;
    /* 给父级添加font-size: 0; 可以去掉行内块默认的边距*/
    font-size: 0px;
    text-align: center;
}
.jd_ms .ms_t .time span{
    display: inline-block;
    background-color: #000;
    font-size: 12px;
    width: 10px;
    height: 20px;
    line-height: 20px;
    color: #fff;
}
.jd_ms .ms_t .time span:nth-child(3n+1){
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.jd_ms .ms_t .time span:nth-child(3n+2){
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.jd_ms .ms_t .time span:nth-child(3n){
    background-color: #fff;
    color: #000;
}
.jd_ms .ms_content .more{
    line-height: 32px;
    padding-right: 10px;
}

.jd_ms .ms_b{
    overflow: scroll;
    margin-top: 10px;
}
.ms_product{
    width: 1000px;
    /*height: 125px;*/
}
.product_item{
    width: 90px;
    height: 78px;
    border-right: 1px solid #555555;
    padding: 0 10px;
}
.product_item img{
    width: 68px;
    height: 68px;
    margin: 0 auto;
}
.ms_product .price{
    text-align: center;
}
.ms_product .new_price{
    font-size: 16px;
    color: red;
}
.ms_product .old_price{
    font-size: 12px;
    text-decoration: line-through;
}

/*京东会场*/

.venue .content{
    margin-top: 10px;
}
/*商场楼层*/
.footer{
    background-color: #fff;
}
.footer .left{
    position: relative;
    padding: 10px;
    box-sizing: border-box;

}
.footer .right{
    position: relative;
    padding: 10px;
    box-sizing: border-box;

}
.footer .txt{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 55%;
}
.footer .pic{
    width: 45%;
}
